<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Utama Office</title>
</head>
<body>
<h1>INI HALAMAN UTAMA OFFICE</h1>

 <form>
 <table>

 	<tr> <!-- baris -->
 	<td>Username</td><!-- kolom -->
 	<td><input type="text" name="username" id="userId"> </td>
 	</tr>
 	
 	
 	<tr> <!-- baris 2 -->
 	<td>Password</td><!-- kolom -->
 	<td><input type="text" name="password" id="passId"> </td>
 	</tr>
 	
 	<tr>
 	<td></td>
 	<td><input type="reset"></td>
	
 	</tr>
 	
 
 	
 	
 </table>
 </form>

</body>
</html>