<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Penjualan Office</title>
</head>
<body>
<h1>INI HALAMAN PENJUALAN OFFICE</h1>

 
 <table border = "1">

 	<tr> 
 	<td>No </td>
 	<td>Barang </td>
 	<td>Harga </td>
 	<td>Jumlah Penjualan </td>
 	</tr>
 	
 	<tr> 
 	<td>1 </td>
 	<td>Meja  </td>
 	<td>45000 </td>
 	<td>30 </td>
 	</tr>
 	
 	<tr> 
 	<td>2 </td>
 	<td>Kursi  </td>
 	<td>55000 </td>
 	<td>1 </td>
 	</tr>
 	
 	<tr> 
 	<td>3 </td>
 	<td>lampu Kerja  </td>
 	<td>9560</td>
 	<td>55 </td>
 	</tr>
 	
 	
 	
 	
 
 	
 	
 </table>
 

</body>
</html>