<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Karyawan Office</title>
</head>
<body>
<h1>INI HALAMAN KARYAWAN OFFICE</h1>
<table border = "1">

 	<tr> 
 	<td>No </td>
 	<td>Nama </td>
 	<td>Jabatan </td>
 	</tr>
 	
 	<tr> 
 	<td>1 </td>
 	<td>Triyoto  </td>
 	<td>Staff </td>
 	</tr>
 	
 	
 	<tr> 
 	<td>2 </td>
 	<td>Indaka  </td>
 	<td>Manager </td>
 	</tr>
 	
 	
 	<tr> 
 	<td>3 </td>
 	<td>Wahab  </td>
 	<td>Direktur </td>
 	</tr>
 	
 	
 	
 	
 	
 
 	
 	
 </table>

</body>
</html>